.aboutBanner{
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    position:relative;
    margin:0;
    padding:0;
    height:90vh;
}
.aboutBanner img{
    position: absolute;
    width: 500px;
    height:350px;
    z-index: 12;
}
#headerAbout{
    padding-top: 10vh;
    color:white;
    font-size:4rem;
}

.aboutSvg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.aboutSvg svg{
    position: relative;
    display: block;
    width: calc(290% + 1.3px);
    height: 500px;
}
.aboutSvg .shape-fill{
    fill:#ced5fc;
}
.aboutContent{
    padding-top: 10px;
}
.aboutContent img{
    width:300px;
    height:300px;
}
/**ipad */
@media screen and (max-width:1024px){
    #headerAbout{
        font-size: 3.5rem;
    }
    .aboutBanner img{
        width:400px;
        height:auto;
    }
}

@media screen and (max-width:768px){
    .aboutBanner{
        height:70vh;
    }
    .aboutBanner img{
        width:250px;
        height:auto;
        top:40vh;
        right:2%;
    }
    #headerAbout{
        font-size:2rem;
    }
}