.aboutBanner{
    position: relative;
    padding:0;
    margin: 0;
    height:90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.headerAbout{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}
.aboutHead span{
    background: red;
    padding:1px 6px;
}

.circle{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: aqua;
    clip-path: circle(60% at left 20%);
    z-index:-1;
}

.midlineAbout::after{
    content:'';
    border-bottom:1px solid rgb(49, 179, 92);
    width:20px;
    display: block;
    margin:5px auto;
}

.aboutSvg{
    display: flex;
    justify-content: center;
    width:50%;
}
.aboutSvg img{
    width:100%;

}

.aboutContent{
    padding-top: 10px;
}
.aboutContent img{
    width:300px;
    height:300px;
}

@media only screen and (max-width:1024px){
    
}
@media only screen and (max-width:768px){
    .aboutBanner{
        height:60vh;
        flex-direction:column-reverse;       
    }
    .headerAbout{padding-top:0 ;}
}
@media screen and (orientation:landscape){
    .aboutBanner{
        height:90vh;
    }
}